/* CSS declarations go here */

body {
  font-size: 24px;
}
button {
  margin: 0 10px 0 10px;
}

.item  .in-cart {
  text-decoration: line-through;
}

.lists-title {
  font-size: 1.8em;
  font-weight: 700;
}

.list-detail-title {
  font-size: 1.5em;
  font-weight: 700;
}

.category-title {
  font-size: 1.2em;
  font-weight: 700;
}

.login-container {
  font-size: 1.3em;
  padding: .5em;
  border-bottom: 2px solid;
}

.lists-container {
  padding-top: 1em;
}